---
layout: default
---

    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <h2>{{ site.number}}<br>{{ site.title }}</h2>
          </div>
          <div class="col-md-6">
                  {% for offer in site.offerings %}
                    <div class="host">
                    <h5>Time</h5>
                    <p>{{ offer.time }}</p>
                    <h5>Location</h5>
                    <p>{{ offer.loc }}</p>
                    {% for inst in site.hosts %}
                    {% if offer.host == inst.id %}
                    <h5>Host Institution</h5>
                    <p><a href="{{ inst.web}}">{{ inst.name}}</a><br>
                    </p>
                    {% endif %}
                    {% endfor %}
                    </div>
                  {% endfor %}
          </div>
        </div>

      </div>
    </section>

    <!-- Page Content -->
    <div class="container">

{{ content }}

    </div>
    <!-- /.container -->
